*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: -0.01em;
}
.swiper-container {
  width: 100%;
  height: auto;
}
.swiper-slide img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* create wrappers */
.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.wrapper_inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.stats-card {
  @apply bg-gray-50 rounded-lg p-3;
}

.stats-card h4 {
  @apply mb-1;
}

.stats-card p {
  @apply transition-all duration-300;
}

section {
  display: grid;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}
